.head_search_input, .head_search_input_related
{
    width:31.5%;
    outline:none;
    border: 2px solid #dceef2;
    border-radius: 5px;
    color:#000;
    font-size:14px;
}
.suggestions-container_related, .suggestions-container
{
    position:relative;
    top:-2px;
    left:385px;
    width: 388px;
}

.head_search_clear_related, .head_search_clear
{
    color:#ADC1C7;
    float:left;
    font-size:15px;
    margin-left:-35px;
    padding:5px;
    line-height:16px;
    cursor:pointer;
    display:none;
    position:absolute;
}
.autocomplete-suggestions
{
    background-color:#fff;
    border-radius:0 0 6px 6px;box-shadow:1px 1px 2px rgba(0,0,0,.3),-1px 1px 2px rgba(0,0,0,.3);
    margin:4px 0 0 -2px;
    width:92%!important;
}
.autocomplete-suggestion
{
    color:#50514A;
    font:12px Arial;
    margin-bottom:3px;
    height:56px;
}
.autocomplete-suggestion img
{
    margin:5px;
    float:left;
}
.autocomplete-suggestion span
{
    margin:5px 3px;
    position:absolute;
}
.autocomplete-selected
{
    background:#F1F0F5;
    cursor:pointer;
}
.autocomplete-selected img
{
    box-shadow:0 0 0 1px #D5D5D5;
}
