.hit-book-img{
    width: 174px;
    height: 174px;
    margin: 13px auto;
    background-size: contain !important;
    /*border: 1px solid black;*/
}
.hit-book-title{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2B2929;
    padding-left: 13px;
    padding-right: 13px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.author-rating{
    list-style: none;
    padding-inline-start: 0;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-flex;

}
.author-rating>li{
    width: 95px;
    height: 14px;
}
.hit-book-author{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #828282;
    /*padding-left: 13px;*/
    padding-right: 13px;
    width: 95px;
    padding-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.author-rating>li>.s-rating{
    float: right;
}

.hit-book-price{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #2B2929;
    /*display: inline-block;*/
    padding-left: 0;
}
.in-stock-li{
    display: inline-flex;
    float: right;
}
.in-stock-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    /* identical to box height, or 114% */
    color: #828282;
    float: right;
}
.in-stock-icon{
    background: url("/img/card/in-stock.png");
    display: block;
    width: 11px;
    height: 9px;
    margin-right: 4px;
}
.card-btns{
    list-style: none;
    padding-inline-start: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    position: relative;
    transform: translateY(288px);
}
.btn-buy{
    width: 190px !important;
    height: 32px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: white;
    margin: auto;
    display: block;
    position: relative;
    top: 0px;
    border-radius: 6px;
    border: none;
    background: #0095DA;
}
.btn-buy:hover{
    background-color: #0072BA;
}
.like{
    background: url('/img/card/Like.png') no-repeat center;
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 9px;
    left: 188px;
    cursor: pointer;
    z-index: 1;
}
.like:hover{
    background: url('/img/card/Like orange.png') no-repeat center;
}
.cart-like {
    background: url('/img/card/shopping-cart-card.png') no-repeat center;
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    left: 186px;
    top: 35px;
    cursor: pointer;
    z-index: 1;
}
.cart-like:hover{
    background: url('/img/card/shopping-cart blue.png') no-repeat center;
}
.button-title-buy{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #0095DA;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 10px;
}
