.col{
    /*border: 1px solid black;*/
}
.row-category{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 60px;
}

.col-category-products{
    width: 880px;
}
.category-title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2B2929;
    margin-bottom: 20px;
}
.block-sorting{
    height: 48px;
    width: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.sorting-block-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding:  12px 30px;
}
.sorting-block-list>li{
    height: 24px;
}
.container-vnal {
    display: inline-flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0095DA;
}
.container-vnal input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    background-color: #F2F2F2;
}
/* On mouse-over, add a grey background color */
.container-vnal:hover input ~ .checkmark {
    background-color: #F2F2F2;
}
/* When the checkbox is checked, add a blue background */
.container-vnal input:checked ~ .checkmark {
    background-color: #c6edff;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container-vnal input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container-vnal .checkmark:after {
    left: 9px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid #0095DA;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sorting-block-label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #BDBDBD;
    margin-left: 59px;
    margin-right: 16px;
}
.sorting-type-label{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2B2929;
    margin-right: 24px;
}
.sorting-type-label:hover{
    text-decoration: none;
    cursor: pointer;
    color: #0095DA;
}
.default-sort-selected{
    text-decoration-line: underline;
    color: #0095DA;
}
.products-list{
    display: flow-root;
}
.products-list .product-block{
    background: white;
    height: 331px;
    width: 216px;
    float: left;
    margin-right: 3px;
    margin-bottom: 19px;
    border-radius: 10px;
    /*border: 1px solid black;*/
    position: relative;
}

.filter-genre-block{
    width: 240px;
    height: 260px;
    margin:  18px auto;
    /*border: 1px solid black;*/
}
.filter-genre-block:first-child{
    height: 200px;
}
.filter-genre-block:nth-child(5){
    height: 165px;
}
.filter-text-general{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2B2929;
}
.col-filter{
    width: 280px;
    padding: 0 0 25px 0;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
}
.checkbox-filter{
    display: block !important;
    margin-bottom: 10px;
}
.container-vnal input:checked ~ .checkmark-filter {
    background-color: white !important;
    border: 1px solid #0095DA;
}
.block-genre{
    overflow: auto;
    height: 165px;
    width: inherit;
}
.block-genre::-webkit-scrollbar {
    width: 4px;
}
/* Track */
.block-genre::-webkit-scrollbar-track {
    background: #E0E0E0;
}

/* Handle */
.block-genre::-webkit-scrollbar-thumb {
    background: #0095DA;
}

/* Handle on hover */
.block-genre::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filter-search-block{
    width: 240px;
}
.filter-btn-search{
    width: 40px;
    background-color: #0095DA !important;
}
.filter-block-input, .filter-btn-search{
    height: 40px !important;
}
.btn-search{
    height: 48px;
    background: #FF781D;
}
.filter-search-input, .filter-btn-search{
    border-radius: 10px;
}
.filter-icon-search{
    background: url('/img/search-interface-symbol.png') no-repeat center;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin: -3px;
    display: block;
}
.filter-block-search{
    margin-bottom: 16px;
}
.filter-btn-apply{
    width: 240px;
    height: 40px;
    background-color: #0095DA;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: none;
    color: white;
}
.filter-btn-apply:hover{
    background: #0095DA;
}
.filter-btn-apply:focus{
    outline: none;
}


.pagination-block{
    display: block;
}
