.ordering__container{
    width: 1180px;
    margin: 50px auto 40px;
}
.ordering__header{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2B2929;
}

.ordering__user-info-block{
    margin: 40px auto 20px;
}
.tab-pane{
    padding-top: 30px;
    padding-left: 13px;
}
.ordering__row{
    display: flex;
    margin-bottom: 20px;
}
.ordering__col{
    margin-right: 20px;
}

.container-vnal {
    display: inline-flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0095DA;
}
.container-vnal input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    background-color: #F2F2F2;
}
/* On mouse-over, add a grey background color */
.container-vnal:hover input ~ .checkmark {
    background-color: #F2F2F2;
}
/* When the checkbox is checked, add a blue background */
.container-vnal input:checked ~ .checkmark {
    background-color: #c6edff;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container-vnal input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container-vnal .checkmark:after {
    left: 9px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid #0095DA;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.order__row-wh{
    width: 760px;
    height: 100px;
    padding: 20px;
}
.row_border-shadow{
    background: #FFFFFF;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;;
}

.order_col-img{
    width: 40px;
    height: 60px;
    display: block;
    background-size: contain;
    border: 1px solid black;
}
.order_col-book-info{
    width: 333px;
}
.order_col-row-title{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    /* Dark */

    color: #2B2929;
    margin-bottom: 10px;
}
.order_col-row-article{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    /* Grey */

    color: #C3C6C8;
}
.count-prod-n{
    display: inline-flex;
}
.count-prod-n>input{
    width: 30px !important;
    padding: 0;
    text-align: center;
}
.count-prod-n>button{
    width: 35px;
}
.order-item-prices{
    display: inline-flex;
    float: right;
    margin-right: 0;
    padding-left: 70px;
}
.ordering__order-old-price{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    margin-right: 10px;
    /* Grey */

    color: #C3C6C8;
}

.ordering__order-price{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    /* Blue color */
    color: #0095DA;
}
