.product-container{
    background-color: #ffffff;
    border-radius: 10px;
    width: 1180px;
    height: 570px;
    margin-bottom: 60px;
    padding-top: 52px;
    padding-left: 40px;
    padding-right: 40px;
}
.col-md-6{
    /*border: 1px solid black;*/
}
.books-devis{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #2B2929;
}
.books-author{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #0095DA;
    margin-bottom: 24px;
}
.books-char-props{
    padding-inline-start: 0;
    margin-bottom: 0;
}
.books-char-label{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #2B2929;
    list-style: none;
    display: inline-block;
}
.books-char{
    color: #0095DA;
}
.delivery-drop-down-block{
    width: auto;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 6px;
    margin-top: 8px;
    display: inline-flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 16px;
}
.delivery-drop-down-block-label{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #2B2929;
    padding-top: 6px;
    display: inline-block;
}
.dropdown{
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.book-price-block{
    display: flex;
    flex-direction: row;
}
.book-price-block-label{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-right: 14px;
    color: #2B2929;
}
.book-price{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2B2929;
}
.book-price-prev{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    margin-left: 14px;
    color: #828282;
}
.btn-add-to-cart{
    background-color: #0095DA;
    border-radius: 6px;
    border: none;
    color: white;
}
.btn-add-to-cart-product{
    height: 40px !important;
    width: 205px !important;
}
.btn-add-to-cart:hover{
    background-color: #0072BA;
    border-radius: 6px;
}
.btn-add-to-cart:focus{
    outline: none;
}
.btn-read-part{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    background: none;
    border: none;
    color: #828282;
    border-bottom: dashed;
}
.product-info{
    height: 458px;
}
.product-gallery{
    display: flex;
    height: 458px;
}
.product-main-gallery{
    width: 326px;
    height: 458px;
    margin: 0 34px;
}
.product-thumbs-gallery{
    width: 80px;
    height: 458px;
    margin: 0;
}
.product-thumbs-gallery-slide{
    background-size: contain !important;
    height: 80px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
}
.swiper-product-button-prev{
    left: 0px;
    background-image: url('/img/swiper/arrow-down-sign-to-navigate 6.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: rotate(180deg);
}
.swiper-product-button-prev::after {
    display: none;
}
.swiper-product-button-next{
    right: 0;
    background-image: url('/img/swiper/arrow-down-sign-to-navigate 6.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-product-button-next::after {
    display: none;
}
.block-tab{
    border-radius: 10px;
    background-color: white;
    margin-bottom: 60px;
    padding: 40px;
    height: fit-content;
}
.block-under-tab{
    height: 100px;
    display: none;

}
.nav-tabs>li>a{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: center;
}
.desctiption-text{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #2B2929;
    padding-top: 20px;
    padding-left: 10px;
}
.product-rating{
    margin: 8px auto;
}
.mt-10{
    margin-top: 10px;
}

.review-tab{
    padding: 40px 10px;
}
.block-sort-review{
    padding-inline-start: 0;
    list-style: none;
    display: inline-flex;

}
.block-sort-review>li{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #C3C6C8;
    margin-right: 30px;
}
.block-sort-review>li:nth-child(2){
    color: black;
}
.block-sort-review>li:not(:first-child, :nth-child(2)){
    text-decoration: underline;
}
.block-sort-review>li:not(:first-child):hover{
    cursor: pointer;
    text-decoration: none;
}
.review-row{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}
.review-col{
    /*border: 1px solid black;*/
}
.review-col:not(:last-child){
    margin-right: 23px;
}
.review-col:first-child{
    width: 60px;
}
.review-col:nth-child(2){
    width: 190px;
}
.review-col:nth-child(3){
    width: 670px;
}
.review-col:last-child{
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}
.review-user-icon{
    width: 60px;
    height: 60px;
    display: block;
    background: url('/img/review/User Photo.png') no-repeat;
}
.review-access{
    width: 23px;
    height: 22px;
    display: block;
    background: url("/img/review/dislike 1.png") no-repeat center;
    border: none;
}
.review-access:focus{
    outline: none;
}
.review-like{

}
.review-dislike{
    transform: rotate(180deg);
    height: 34px;
}
.general-rev-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2B2929;
    margin-bottom: 0;
}
.review-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2B2929;
}
.lh-28{
    line-height: 28px;
}
.btn-review{
    width: 205px;
    height: 40px;
    border: 1px solid #0095DA;
    border-radius: 6px;
    background: transparent;
    color: #0095DA;
    display: block;
    margin: auto;
}
.btn-review:focus{
    outline: none;
}
.btn-review:hover{
    background: #0095DA;
    color: white;
}
.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contents {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-contents, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-contents {
        width: 100%;
    }
}
