.main-panel img{
    display: block;
}
img.root_icon {
    width: 200px;
    height: 200px;
}
.mainrow  {
    margin-top:40px;
}
.mainrow a {
    display:inline-block;
    text-align:center;
    border: solid 1px #fff;
    padding: 15px;
    border-radius:3px;
    color: #5e5e5e;
}
.mainrow a span {
    margin-top:25px;
    height:30px;
    padding: 5px;
    width:190px;
    display:inline-block;
    border: solid 1px #5e5e5e;
    border-radius:3px;
}
.mainrow a:hover {
    border: solid 1px #5e5e5e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
.mainrow a:hover span {
    text-decoration: underline;
    color: #2e2e2e;
}
#reportrange {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #333333;
    padding: 8px;
    line-height: 18px;
    cursor: pointer;
}

.statbox {
    margin-top: 15px;
    position: relative;
}

.statbox > span {
    position: absolute;
    top: -10px;
    left:0;
    padding:3px;
    background: #9EADEB;
}

.statbox td, .statbox th {
    margin:0;
    padding:6px;
    border: solid 1px #A0A0A0;
    outline:0;
}

.statbox th {
    background: #FACBA9;
}

.line
{
    display:inline-block;
    height: 4px; width:9px;
}

.dred {
    background: rgba(220,30, 70,1);
}

.dblue {
    background: rgba(20,120,120,1);
}

.chart-label {
    padding: 5px;
    font: bold 12px Tahoma;
    color: #fff;
    display: block;
}

.c1 { background: #FB5931; }
.c2 { background: #DB2F04; }
.c3 { background: #A72403; }
.c4 { background: #821C02; }
.c5 { background: #5C1301; }
.c6 { background: #2E0A01; }

.c1,.c2,.c3,.c4,.c5,.c6 { color: #D3D3D3;}

.footer-info {
    text-align: center;
    font-weight: bold;
    color: #5e5e5e
}
