* {
    box-sizing: border-box;
}
a{
    /*display: contents;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

/* ============ HEADER ================*/
header{
    /*overflow: hidden;*/
}
.navbar-default{
    background-image: none;
}
.nav-blue{
    background-color: #0072BA;
    height: 40px;
    min-height: 40px;
    margin-bottom: 0;
}
.nav-blue .navbar-nav>li>a {
    color: #fff;
}
.nav-blue .navbar-nav>li>a:hover {
    color: #fff;
}
.nav-icon{
    width: 16px;
    height: 16px;
    display: block;
    padding-top: 40px;
}
.icon-clock{
    background: url('/img/header-icons/clock.png') no-repeat center;
}
.icon-call{
    background: url('/img/header-icons/mail 1.png') no-repeat center;
    margin-left: 15px;
}
.nav-search{
    background-color: white;
}
.mgn-top-26{
    margin-top: 26px;
}
.nav-logo-brand{
    display: block;
    background-size: contain !important;
    /*padding-top: 40px;*/
}
.logo-brand{
    background: url('/img/Logo.png') no-repeat center;
    margin-right: 30px;
}
#logo-brand-link{
    padding: 0;
}
.search-block-input{
    height: 48px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.btn-search{
    background: #FF781D;
    height: 48px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-search:focus{
    outline: none;
}
.btn-search:hover{
    background-color: #0095DA;
}
.icon-search{
    background: url('/img/search-interface-symbol.png') no-repeat center;
    width: 26px;
    height: 26px;
    display: block;
}
.nav-search-icon{
    display: inline-table;
    margin: auto;
    width: 31px;
    height: 31px;
}
.nav-search-right>li:hover{
    cursor: pointer;
}
.icon-liked{
    background: url('/img/header-icons/heart.png') no-repeat center;
}
.nav-search-right>li:hover>.icon-liked, .icon-liked:hover, .icon-liked:focus{
    background: url('/img/header-icons/heart 1.svg') no-repeat center;
}
.icon-cart{
    background: url('/img/header-icons/shopping-cart.png') no-repeat center;
}
.nav-search-right>li:hover>.icon-cart, .icon-cart:hover, .icon-cart:focus{
    background: url('/img/header-icons/shopping-cart 1.svg') no-repeat center;
}
.icon-user{
    background: url('/img/header-icons/user.png') no-repeat center;
}
.nav-search-right>li:hover>.icon-user, .icon-user:hover, .icon-user:focus {
    background: url('/img/header-icons/user 1.png') no-repeat center;
}
.nav-cat-items{
    color: black !important;
    font-weight: 500;
    font-style: normal;
}
.navbar-nav>li:hover .nav-cat-items{
    color: #0095DA !important;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.navbar-nav>li:hover .dropdown-content {
    display: block;
}
.cart-addition-icon{
    background: #FF404C;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 28px;
    color: white;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    padding-top: 2px;
}
.third-level-menu
{
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}
.third-level-menu > li
{
    position: relative;
    background: #fff;
}
.third-level-menu > li:hover a{ color: #0095DA !important; }
.third-level-link_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #2B2929;
}
.second-level-menu
{
    position: absolute;
    top: 48px;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    width: 57em;
}

.second-level-menu > li
{
    position: relative;
    /*height: 40px;*/
    background: #fff;
    width: 200px;
    padding: 40px 20px;
}
/*.second-level-menu > li:hover { background-color: #ddd}*/
.second-level-link_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px !important;
    text-decoration-line: underline !important;
    color: #0095DA !important;
}
.top-level-menu
{
    list-style: none;
    /*padding: 0;*/
    /*margin: 0;*/
}

.top-level-menu > li
{
    position: relative;
    float: left;
    /*height: 30px;*/
    /*width: 150px;*/
    /*background: #999999;*/
}
.top-level-menu > li:first-child > a{
    padding-left: 0 !important;
}

.top-level-menu li:hover > .second-level-menu {
    display: flex;
}
.hor-line{
    border-right: 1px solid #F2F2F2;;
    width: 1px;
    height: 330px;
    position: initial !important;
    margin-top: 40px;
    /*margin-left: 175px;*/
    display: block;
}
.top-level-menu li:hover > .hor-line {
    display: block;
}
/* Menu Link Styles */

/*.top-level-menu a:hover { color: #000000; }*/

.login-on-hover_block{
    width: 280px;
    height: 240px;
    position: absolute;
    left: -160px;
    display: none;
    background: transparent;
    z-index: 1;
    margin-top: 10px;
    /*border: 1px solid;*/
}
.favorites_block{
    width: 380px;
    height: 360px;
    position: relative;
    margin-top: 15px;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}
.login-reg-from{
    width: 280px;
    height: 240px;
    position: relative;
    margin-top: 15px;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}
#fav-ico:hover .login-on-hover_block, #cart-ico:hover .login-on-hover_block, #user-ico:hover .login-on-hover_block{
    display: block;
}
.login-form_header{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2B2929;
}
.login-form_sub-header{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #C3C6C8;
}
.login-form_btn{
    width: 240px;
    height: 34px;
    background: #0095DA;
    border-radius: 6px;
    border: none;
    margin: auto;
    display: block;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}
.fa-angle-right{
    float: right;
}
.login-reg_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2B2929;
}
.lr-icon_profile:before{
    content: url("/img/header-icons/user 2.png");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.lr-icon_favorite:before{
    content: url("/img/header-icons/heart 2.png");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.lr-icon_history:before{
    content: url("/img/header-icons/paper 1.png");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.lr-icon_bonus:before{
    content: url("/img/header-icons/profit 1.png");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.lr-icon_email:before{
    content: url("/img/header-icons/Frame 190.png");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.lr-icon_logout:before{
    content: url("/img/header-icons/logout 1.png");
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.login-reg_block{
    width: 360px;
    height: 80px;
    left: 940px;
    top: 179px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.favorite_block-card{
    width: 350px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.favorite_block-card-img{
    width: 40px;
    height: 60px;
    display: block;
    border: 1px solid;
}
.favorite_block-card-info{
    width: 255px;
    height: 60px;
    border: 1px solid;
}
.favorite_block-card-info_title{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2B2929;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 28px;
}
.favorite_block-card-price{
    display: flex;
}
.favorite_block-card-price_old{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #C3C6C8;
    margin-right: 10px;
}
.favorite_block-card-price_current{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #0095DA;
}
.favorite_block-see_more{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #3170CE;
    text-align: center;
    display: block;
}
/* ============ HEADER END =========== */

/* ============ SUBSCRIBE ============ */
.subscribe-container{
    background: #f9f9f9;
    height: 130px;
    margin-top: 60px;
}
.subscribe-header-title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #2B2929;
    margin-bottom: 16px;
}
.subscribe-container-form{
    background: #E8E8E8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    height: 82px;
}
.subscribe-form{
    padding-top: 26px;
    width: 656px;
    margin: auto;
}
.subscribe-label{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    color: #2B2929;
    margin-right: 22px;
}
#subscribe-email-input{
    margin-right: 20px;
}
.subscribe-btn{
    border-color: #0095DA;
    background-color: #0095DA;
    background-image: none;
    color: white;
}
.subscribe-btn:hover, .subscribe-btn:focus {
    border-color: #0095DA;
    background-color: #0072BA;
    color: white;
}
/* ============ SUBSCRIBE END =======  */

/* ============ FOOTER =============== */
footer{
    height: 316px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 5px rgb(0 0 0 / 8%);
    border-color: #e7e7e7;
    background-color: #ffffff;
}
.footer-row{
    margin: auto;
}
footer>.row>.col-md-3>ul{
    padding-inline-start: 0;
}
footer>.row>.col-md-3>ul>li{
    list-style: none;
    line-height: 26px;
}
.mastercard-logo{
    background: url('/img/logos_mastercard.png') no-repeat;
    width: 35px;
    height: 28px;
    display: inline-block;
    margin-right: 10px;
}
.visa-logo{
    background: url('/img/logos_visa.png') no-repeat;
    width: 58px;
    height: 28px;
    display: inline-block;
}
.footer-col-title{
    font-weight: bold;
    line-height: 26px;
    color: #2B2929;
}
.footer-col-el{
    font-weight: 500;
}
.elipse{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #BDBDBD;
    display: inline-block;
    position: relative;
    margin-right: 14px;
}
.network-logo{
    width: 20px;
    height: 20px;
    position: absolute;
}
.logo-insta{
    background: url('/img/social/instagram.png') no-repeat center;
    margin: 8px 0 0 -45.5px;
}
.logo-twitter{
    background: url('/img/social/twitter.png') no-repeat center;
    margin: 8px 0 0 -45px;
}
.logo-vk{
    background: url('/img/social/vk.png') no-repeat center;
    margin: 8px 0 0 -46px;
}
.logo-facebook{
    background: url('/img/social/facebook.png') no-repeat center;
    margin: 8px 0 0 -41px;
}
.elipse:hover{
    background: #0095DA;
    cursor: pointer;
}
.network-logo:hover{
    cursor: pointer;
}
/* ============ FOOTER END =========== */

@media (min-width: 768px) {
    .container{
        width: 768px;
    }

    /* HEADER */
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav-search{
        /*height: 150px !important;*/
    }
    .nav-search-text{
        font-size: 12px;
    }
    .nav-logo-brand{
        width: 170px;
        height: 47px;
    }
    .search-block{
        width: 330px;
    }
    .navbar-right {
        float: right !important;
        margin-right: 0;
    }
    .nav-search-right>li{
        margin: auto 13px;
    }
    .nav-cat>ul{
        width: 768px !important;
    }
    .nav-cat-items{
        font-size: 10px;
        line-height: 12px !important;
        font-weight: 500;
        font-style: normal;
        padding: 17px 16px !important;
    }
    .glyphicon{
        font-size: 9px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 9px;
    }
    /* HEADER END */

    /* SUBSCRIBE */
    /* SUBSCRIBE END */

    /* FOOTER */
    .footer-row{
        width: 768px;
        transform: translateY(30px);
    }
    .footer-col{
        height: 206px;
        padding: 0;
        margin: 0;
        width: 215px;
        float: left;
    }
    .footer-col:nth-child(3){
        width: 195px;
    }
    .footer-col:last-child{
        width: 135px;
    }
    .logo-twitter {
        margin: 8px 0 0 -42px;
    }
    .footer-general-text-style{
        /*font-family: Helvetica Neue LT Std;*/
        font-style: normal;
        color: #2B2929;
        font-size: 12px;
    }
    .footer-col-el{
        font-size: 12px;
    }
    .footer-contact{
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #0095DA;
    }
    /* FOOTER END */
}
@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
    /* HEADER */
    .nav-search{
        height: 128px !important;
    }
    .nav-search-text{
        font-size: 12px;
        line-height: 22px !important;
        padding-top: 3px;
        position: relative;
        top: 30px;
    }
    .nav-logo-brand{
        width: 175px;
        height: 48px;
    }
    .search-block{
        width: 650px;
    }
    .nav-search-right>li{
        margin: auto 15px;
    }
    .nav-cat>ul{
        width: 1180px !important;
    }
    .nav-cat-items{
        font-size: 16px;
        line-height: 14px !important;
        padding: 17px 22px !important;
    }
    .glyphicon{
        font-size: 12px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 240px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 14px;
    }
    /* HEADER END */

    /* SUBSCRIBE */
    /* SUBSCRIBE END */

    /* FOOTER */
    .footer-row{
        width: 1180px;
        transform: translateY(55px);
    }
    .footer-col{
        height: 206px;
        padding: 0;
        margin: 0;
        width: 295px;
    }
    .footer-col:nth-child(3){
        width: 295px;
    }
    .footer-col:last-child{
        width: 295px;
    }
    .footer-general-text-style{
        /*font-family: Helvetica Neue LT Std;*/
        font-style: normal;
        color: #2B2929;
        font-size: 14px;
    }
    .footer-col-el{
        font-size: 14px;
    }
    .logo-twitter{
        margin: 8px 0 0 -45px;
    }
    .footer-contact{
        font-weight: normal;
        font-size: 24px;
        line-height: 26px;
        color: #0095DA;
    }
    /* FOOTER END */
}
.last-cat-child{
    padding-right: 0 !important;
}
.first-cat-child{
    padding-left: 0 !important;
}
.footer-contact-li{
    margin-top: 30px;
}
.footer-working-time{
    font-weight: 500;
    line-height: 14px;
    color: #BDBDBD;
}
.company-copyright{
    font-weight: 500;
    line-height: 14px;
    color: #BDBDBD;
    margin-top: 20px;
}



/* BREAD CRAMP */
.breadcrumb{
    background-color: transparent;
    padding-left: 0;
    margin-top: 12px;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #0095DA;
    content: ">\00a0";
}
.breadcrumb-title{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}


/* CATEGORY */

/* MODAL AUTH */
.mt150{
    margin-top: 150px !important;
}
.logo-centered{
    margin: 40px auto 40px;
}
.close{
    color: #000 !important;
    opacity: .2;
}
.modal-header{
    padding: 0;
    border: none;
}
.modal-body{
    margin-bottom: 60px;
}
.login-header-text{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2B2929;
}
.login-tabs{
    list-style: none;
    padding-inline-start: 0;
    width: 310px;
    margin: 30px auto;
}
.login-tabs>li{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #0072BA;
    text-align: center;
}
.login-tab-active{
    border-bottom: 2px solid #0095DA;
}
.login-tab-content{
    margin: auto auto 20px;
    width: 310px;
}
.login-input-phone{
    width: 310px;
    height: 54px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.login-input-phone:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon .login-input-phone {
    padding-left: 60px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 9px 8px;
    color: #0095DA;
    transition: 0.3s;
}
.login-phone-icon{
    top: 12px !important;
}

.inputWithIcon .login-input-phone:focus + i {
    color: dodgerBlue;
}
.login-btn-get-code{
    width: 310px;
    height: 50px;
    background: #0095DA;
    border-radius: 8px;
    border: none;
    color: white;
    display: block;
    margin: auto;
}
.login-btn-get-code:focus{
    outline: none;
}
.login-btn-get-code:hover{
    background: #0072BA;
}

.inputWithIcon2, .login-btn-approve {
    display: none;
}
