.row{
    margin: 0;
}
.swiper-slide{
    /*border: 1px solid black;*/
}
.main-swiper{
    margin-top: 24px;
    /*border: 1px solid black;*/
    border-radius: 12px;
    cursor: pointer;
}
.main-swiper-wrapper{
    width: 100%;
    height: 270px;
}
.swiper-banner-1{
    background: url('/img/Group 623.png') no-repeat  center;
    background-size: cover;
}
.swiper-button-prev1{
    left: 30px;
    background-image: url('/img/swiper/arrow-down-sign-to-navigate 1.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: rotate(180deg);
}
.swiper-button-prev1::after {
    display: none;
}
.swiper-button-next1{
    right: 30px;
    background-image: url('/img/swiper/arrow-down-sign-to-navigate 1.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-button-next1::after {
    display: none;
}
.hit, .new, .weeks-new, .delivery-info-main, .coming-soon{
    margin-top: 58px;
    /*border: 1px solid black;*/
}
@media (min-width: 768px) {
    .hit-swiper, .new-swiper{
        width: 640px;
    }
    .hit-swiper-wrapper{
        height: 331px;
        width: 640px;
    }
}
@media (min-width: 1200px) {
    .hit-swiper, .new-swiper{
        width: 1120px;
    }
    .hit-swiper-wrapper{
        height: 331px;
        width: 1120px;
    }
}
.index-general-text-style{
    font-style: normal;
    color: #2B2929;
}
.index-heading-title{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hit-swiper-slide{
    width: 216px !important;
    background-color: white;
    border-radius: 10px;
}
.swiper-button-next2, .swiper-button-next3{
    position: inherit;
    float: right;
    transform: translateY(-193px);
    background-image: url('/img/swiper/arrow-down-sign-to-navigate 6.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-button-next2::after, .swiper-button-next3::after {
    display: none;
}
.swiper-button-prev2, .swiper-button-prev3{
    position: inherit;
    transform: translateY(-170px) rotate(180deg);
    background-image: url('/img/swiper/arrow-down-sign-to-navigate 6.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}
.swiper-button-prev2::after, .swiper-button-prev3::after  {
    display: none;
}



/* WEEKS NEW */
.weeks-new-row{
    transform: translateY(56px);
}
.weeks-new{
    background-color: white;
    width: 100%;
    height: 524px;
    margin-top: 0;
}
.weeks-new-col{
    height: 450px;

}
@media (min-width: 768px) {
    .weeks-new-row{
        width: 768px;
        margin: auto;
    }
    .weeks-new-col{
        width: 370px;
        float: left;
    }
    .weeks-new-col:last-child{
        display: none;
    }
    .delivery-info-main-row{
        margin: auto;
        width: 610px;
    }
    .delivery-info-main-col{
        width: 300px;
        display: inline-grid;
        float: none;
    }
    .coming-soon-row{
        width: 768px;
        display: -webkit-inline-box;
        margin-bottom: 60px;
        overflow-x: scroll;
    }
}
@media (min-width: 1200px) {
    .weeks-new-row{
        width: 1120px;
        margin: auto;
    }
    .weeks-new-col{
        width: 373px;
    }
    .weeks-new-col:last-child{
        display: block;
    }
    .delivery-info-main-row{
        margin: auto;
        width: 1180px;
    }
    .delivery-info-main-col{
        width: 295px;
        display: block;
        float: left;
    }
    .coming-soon-row{
        width: 1180px;
        display: flex;
        margin-bottom: 60px;
        justify-content: center;
        overflow-x: hidden;
    }
}
.book-weeks-new{
    /*border: 1px solid black;*/
    width: 345px;
    height: 445px;
    filter: drop-shadow(5px 5px 25px rgba(0, 0, 0, 0.15));
    display: block;
}
.book-weeks-new-img{
    background: url('/img/book-weeks.png') no-repeat center;
    background-size: contain;
    margin-top: -17px;
}
.book-weeks-new-title{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2B2929;
    margin-bottom: 6px;
}
.book-weeks-new-bold-ttile{
    font-style: normal;
    font-weight: 550;
    font-size: 22px;
    line-height: 30px;
}
.book-weeks-new-author{
    font-style: normal;
    font-weight: normal;
    /*font-size: 18px;*/
    line-height: 18px;
    color: #0095DA;
}
.book-weeks-new-brief{
    padding-inline-start: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}
.book-weeks-new-brief>li{
    margin-bottom: 16px;
    list-style: none;
    display: flex;
}
.brief-content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2B2929;
    word-wrap: break-word;
    width: 295px;
}
.brief-bullet{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #0095DA;
    display: inline-block;
    margin-right: 12px;
    margin-top: 5px;
}
.book-weeks-new-button{
    border: 1px solid #0095DA;
    box-sizing: border-box;
    border-radius: 6px;
    width: 256px;
    height: 40px;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
}
.book-weeks-new-button:focus{
    outline: none;
}
.book-weeks-new-review{
    color: #0095DA;
    background: transparent;
    margin-bottom: 14px;
}
.book-weeks-new-buy{
    background-color: #0095DA;
    color: white;
}
.book-weeks-new-buy:hover{
    background-color: #0072BA;
    color: white;
    cursor: pointer;
}
.book-weeks-new-review:hover{
    background-color: #0095DA;
    color: white;
    cursor: pointer;
}
.books-weeks-new-citate{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: #C3C6C8;
}
.books-weeks-new-citate-content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
/*This is some ...*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/

.delivery-info-img{
    width: 64px;
    height: 64px;
    margin: auto;
    display: block;
    margin-top: 24px;
}
.delivery-info-open-book{
    background: url('/img/open-book_1.png');
}
.delivery-info-ecommerce{
    background: url('/img/ecommerce_1.png');
}
.delivery-info-premium-quality{
    background: url('/img/premium-quality_1.png');
}
.delivery-info-globe{
    background: url('/img/globe_1.png');
}
.delivery-info-content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 218px;
    margin: 19px auto;
}

.col-w200{
    width: 216px;
    height: 331px;
    margin: auto 10px auto 10px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.book-img1{
}

.col-h3{
    height: 312px;
}
.btn-preorder{
    background-color: white;
    color: #0095DA;
    border: 1px solid #0095DA;
    width: 190px;
    height: 32px;
    margin: auto;
    display: block;
    border-radius: 6px;
}
.btn-preorder:hover{
    background-color: #0095DA;
    color: white;
}
.btn-preorder:focus{
    outline: none;
}
.slider-link{
    position: absolute;
}
a:hover{
    text-decoration: none;
}
